:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

p {
  color: #000
}


* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .5s;
}
*::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  pointer-events: none; 
  -webkit-user-drag: none;
}

.css-1mhcdve-MuiPieArc-root{
  stroke: none;
}

img {
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  pointer-events: none; 
  -webkit-user-drag: none;
}

p, a {
  font-family: 'Quicksand';
  font-weight: normal;
  font-style: normal;
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  pointer-events: none; 
  -webkit-user-drag: none;
}

* { 
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}